.body__wrapper {
    width: 375px;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .body__wrapper {
        width: 834px;
        padding: 0 24px;
        box-sizing: border-box;
    }
}

@media (min-width: $desktop-width) {
    .body__wrapper {
        width: 1440px;
        padding: 0 120px;
        box-sizing: border-box;
    }
}